<h4>Album Review</h4>

<!-- <p>Artist: <span id="artist">ty segall</span></p>
<p>Album: <span id="album">sleeper</span></p>
 -->
<form>
  Artist: <input id="artist" type="text"><br>
  Album: <input id="album" type="text"><br>
  <input id="searchPitchfork" type="submit" value="Submit">
</form>
</form>
<hr/>
<h4>Result</h4>
<p>Artist: <span id="result_artist"></span></p>
<p>Album: <span id="result_album"></span></p>
<p>Score: <span id="score"></span></p>
